---
title: Test results
---

## Get your results

Once a doctor has reviewed your test results, you can view them in your [NHS account or NHS App](https://www.nhs.uk/nhs-app/account/). Results by SMS are available on request.

If your results show that you need more tests or treatment, we will contact you.

## Questions about results

Call reception on [0161&nbsp;870&nbsp;8099](tel:01618708099) if you need help accessing your results or want to discuss a result.
